@model Client.Models.ProductViewModel.ProductViewModel

@{
    ViewData["Title"] = "Service Fabric Sample";
}

@{
    if (TempData["CustomError"] != null)
    {
        <h2>@TempData["CustomError"]</h2>
    }
    else
    {
        <h2>Products</h2>
    }
    if (!Model.Products.Any())
    {
        <p>Products missing</p>
    }
}


<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Number
            </th>
            <th>
                Standard Cost
            </th>
            <th>
                List Price
            </th>
            <th>
                Product Model
            </th>
            <th>
                Product Subcategory
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSubcategory.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>                  
                </td>
            </tr>
        }
    </tbody>
</table>

